apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-sql-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-sql-container
        image: gcr.io/keen-bongo-400523/flask-app:latest
        ports:
        - containerPort: 5000
